#wrapper{
    max-width: 100%;
    height: auto;
}
body {
    
    background-color:#4D2994;
    color:white;
    font-family:"Courier New";
 

    
}
h2{
    text-align: center; 
    font-family: "Bradley Hand";
    font-size:20px;
    max-width:100%;
    margin-left: 0;
    margin-right: 0;


    
}
header{
    text-align: center;
    font-size:40px;
    margin: 40px 20px 40px 20px;
    

}
img.align-center{
    display: block;
    margin: 0px auto;
    max-width: 100%;
    height: auto;
    
}
p{
    text-align:center;
    border-style:double;
    width:500px;
    padding: 10px;
    margin: 10px auto 10px auto;
    text-align: left;
}

.exercises{
    float: left;
    margin: 5%;

}
h3{
    margin-bottom: 50px;
    
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    padding:20px;
}
h3:hover {
    background-color:#B4338A;
    
}
.projects{
    float: right;
    margin: 5%;
    
}
a {
    text-decoration: none;
    color: white;
    
}
