/* focuses on the main page ?*/
#wrapper{
    max-width: 100%;   
    height: auto;
}
/* background color and type is chosen and makes sure txt is in the center*/
body {
    
    background-color:#4D2994;
    color:white;
    font-family:"Courier New";
    text-align:center;
 

    
}
/* puts the subheader in the center, header is associated in a box that is defined through display*/
h2{
    
    
    display:block;
    font-size:16px;

    max-width:100%;
    
   


    padding:10px;
    margin: 0px 20px px 20px;
    max-width: 100%;
    flex:center;
    

}
/* makes the display within the text, so it doesn't protrude on any another header or piece. */
header{
    
    font-size:40px;
    margin: 10px auto 10px auto;
    display:inline-block;
    height: 150px;
    
    

}
/* Centered image and its resizable depending on large the page is.*/
img.align-center{
    display: block;
    margin: 0px auto;
    max-width: 100%;
    height: auto;
    
    
}
/* Text box is resizible depending on page. Also, given a max-width so that it doesn't over extend. */
p{
    text-align: left;
    border-style:double;
    
    padding: 10px;
    margin: 20px auto 20px auto;
    display: inline-block;
    max-width: 500px;
    
    
    
}
/* deals the projects and moves the row to the right side and gives a specified height*/
.projects{
    float: right;
    height:450px;
    margin-right: 10%;
    background-color: #7D56FF;
    
}
/* deals with the exercise portion on the left side of the page. Also, a scroll because it focuses on the overextended piece that the text given*/
.exercises{
    float: left;
    overflow: scroll;
    height:450px;
    margin-left: 10%;
    background-color: #7D56FF;

}
/*Adds a fun transition that makes the website intract smoothier*/ 
h3{
    margin-bottom: 50px;
    transition-duration: 0.4s;
    padding: 20px;
    
}
/* transition activates on the text to make noticibly that the bar has links*/
h3:hover {
    background-color:#B4338A;
    
}

/* links don't turn a purple color and it doesn't have the underline for new pages*/
a {
    text-decoration: none;
    color: white;
    
}
