/*********************************
General Formatting (Do Not Change)
*********************************/

* {
    box-sizing: border-box;
    
    
}

html {
    /* sets base font size for rem sizing */
    font-size: 16px;
    font-family: Calibri, Helvetica, Arial, sans-serif;
    
    
}

html,
body {
    padding: 0;
    margin: 0;
}

header,
footer {
    background-color: #86af49;
}

nav,
aside,
article {
    padding: .5rem;
}

nav, aside {
    background-color: #b5e7a0;
}


/**************
Your Formatting
***************/

body{
    display: grid;
    width:90vw;
    max-width:1200px;
    min-height: 100vh;
    grid-template-rows:4em 1fr 3em; 
    grid-template-columns: 1fr 3fr 200px;
    grid-template-areas: "a a a" "d c b" "e e e";
    
    

    
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: a;
}
nav{
    grid-area: b;
}
.menubox{
    background-color: white;
    margin:none;
    border: 1px solid white;
}
ul{
    list-style: none;
    margin:none;
    padding:none;
    
}
ul.submenu{
    
    display: none;
    padding-left:.25em;
    background-color: lightgrey;
}
p#onemenuitem{
    padding-left:.25em;
}
article{
    grid-area: c;
}
aside{
    grid-area: d;
}
footer{
    grid-area: e;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 600px){
    
    body{
        grid-template-columns: 1fr;
        grid-template-rows: 100px .5fr 2fr .5fr .5fr;
        grid-template-areas: "a" "b" "c" "d" "e";
    }
   
}